@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* width: 100vw;
    height: 100vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://wallsneedlove.com/cdn/shop/products/w0452_1s_Twiggy-Removable-Peel-and-Stick-Wallpaper_Repeating-Pattern-Sample-2_65ce95fb-5adf-48d9-b99d-4508641a2a1a.jpg?v=1604091242');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    background-position: center;
    background-attachment: fixed;
}